/* 
--- COMPONENTES ENCONTRADOS AQUI:
--- BOTÔES;
--- TABLES;
--- LINHA DE LISTAS (ul e ol);
--- IMAGENS E SVGS;
_________________________________
*/

.links {
    color: rgb(57, 136, 255, 1);
    text-decoration: underline;
}

.links:visited {
    color: rgb(57, 136, 255, 1);
}

/* Botões */

button {
    background: transparent;
    border: none;
    cursor: pointer;
    width: auto;
    padding: 0.3rem;
    border-radius: 8px;
    font-family: var(--fonte-paragrafo);
}

.button__cabecalho {
    display: flex;
    align-items: center;
    color: var(--tema-fonte-cabecalho);
    font-weight: bold;
    font-size: var(--tamanho-fonte-texto);
    gap: var(--padding-margin-gap-pequeno);
}

.button__cabecalho:hover {
    background: linear-gradient(to right,
        rgb(63, 169, 255) 0%,
        rgb(63, 169, 255, 0) 100%
    );
}

.button__cabecalho:active {
    box-shadow: inset 4px 0px 6px 0px rgba(0, 0, 0, 0.15);
    scale: 0.95;
}

/* Botões da página 2 */

.button__info {
    font-size: var(--tamanho-fonte-subtitulos);
    font-style: italic;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    align-self: flex-end;
}

#linha-botao {
    height: 3px;
    background:rgb(57, 136, 255, 1);
    position: absolute;
    bottom: 0;
    width: 0;
    transition: 0.5s ;
}

.button__info:hover {
    background: linear-gradient(to right,
        rgb(138, 138, 138, 0.6) 0%,
        rgb(138, 138, 138, 0) 100%
    );
}

#botao-discord {
    align-items: center;
    position: relative;
    border-bottom-left-radius: 0;
    padding-left: 6px;
    border-top-left-radius: 0;
    border-left: 0;
    margin: 15px;
    right: -47px;
    height: fit-content;
    background-color: #5865F2;
}

/* Botões da página 3 */

.button__projeto {
    align-self: flex-end;
    font-size: var(--fonte-paragrafo);
    color: blue;
}

.link__projetos {
    background-color: #111111;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid rgb(57, 136, 255, 1);
    padding: 5px;
}

/* Botões e Setas de Scroll */

.button__seta {
    width: fit-content;
    align-self: center;
}

.seta {
    width: 125px;
    height: 100%;
    transition: 0.4s;
    opacity: 0.6;
}

#seta-1 {
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
}

.seta:hover {
    transform: scale(1.15);
    opacity: 1;
}

.seta__contraria {
    width: 75px;
    height: 100%;
    transition: 0.4s;
    opacity: 0.6;
}

.seta__contraria:hover {
    transform: scale(1.25);
    opacity: 1;
}

/* Tables e Listas */

.container__tabela {
    overflow-x: auto; /* Alterado de 'scroll' para 'auto' */
    display: block; /* Impede conflitos com flexbox */
    max-width: 65vw;
    padding-bottom: 1rem; /* Evita que o scroll fique escondido */
    box-sizing: border-box;
}

.tabela__texto {
    border: 1px solid black;
    padding: 2px;
    border-collapse: collapse;
    width: 100%; /* A tabela se ajusta até o limite do container */
}

li {
    list-style-position: inside;
}

th {
    white-space: nowrap;
}

th,
td {
    border: 1px solid black;
    padding: var(--padding-margin-gap-pequeno);
    font-size: var(--tamanho-fonte-texto);
    height: auto;
}

/* Switch */

.label__switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.label__switch input {
    display: none;
}

.span__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ebebeb;
    transition: 0.4s;
    border-radius: 34px;
    box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.30);
}

.span__slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

input:checked + .span__slider {
    background-color: rgb(63, 169, 255);
}

input:checked + .span__slider:before {
    transform: translateX(28px);
}

/* Imagens e SVGs Gerais */

.icones__badges {
    height: 1.5rem;
    width: auto;
}

.imgs__cabecalho {
    height: 30px;
    width: auto;
}

#svg-sol,
#svg-lua {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: 65px;
}

.icone__info {
    height: 30px;
    width: auto;
    opacity: 0;
    transition: 0.4s;
}

.icone__info.mostrar {
    visibility: visible;
    opacity: 0.8;
}

.icon__expand,
.icon__close {
    height: 30px;
    width: auto;
    align-self: flex-end;
    cursor: pointer;
    color: var(--tema-fonte-cabecalho);
}

#img-linkedin,
#img-gmail,
#img-github,
#img-discord {
    height: 1.8rem;
    width: auto;
}

#img-gmail,
#img-discord {
    fill: white;
    z-index: 1;
}

#foto-linkedin {
    height: 10rem;
    width: auto;
    border: 3px solid rgb(57, 136, 255, 1);
    float: right;
    margin-left: var(--padding-margin-gap-medio);
    margin-bottom: var(--padding-margin-gap-medio);
}

/* Projetos */

.tabelas__projeto {
    width: fit-content;
}

/* Imagens dos projetos */

.container__imagem__projeto {
    overflow-x: auto; /* Alterado de 'scroll' para 'auto' */
    display: block; /* Impede conflitos com flexbox */
    max-width: 65vw;
    padding-bottom: 1rem; /* Evita que o scroll fique escondido */
    box-sizing: border-box;
    justify-self: center;
}

.container__imagem__projeto::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cinza claro */
    border-radius: 30px;
  }

.imagens__projeto {
    border: 1px solid black;
    padding: 2px;
    border-collapse: collapse;
    width: 35rem;
}