/* 
--- COMPONENTES ENCONTRADOS AQUI:
--- BOTÔES;
--- TABLES;
--- LINHA DE LISTAS (ul e ol);
--- IMAGENS E SVGS;
_________________________________
*/

/* Botões */

button {
    background: transparent;
    border: none;
    cursor: pointer;
    width: auto;
    padding: var(--padding-margin-gap-pequeno);
    border-radius: 8px;
    font-family: var(--fonte-paragrafo);
}

.button__cabecalho {
    display: flex;
    align-items: center;
    color: var(--tema-fonte-cabecalho);
    font-weight: bold;
    font-size: 1rem;
    padding: var(--padding-margin-gap-pequeno);
    gap: var(--padding-margin-gap-pequeno);
}

.button__cabecalho:hover {
    background: linear-gradient(to right,
        rgb(63, 169, 255) 0%,
        rgb(63, 169, 255, 0) 100%
    );
}

.button__cabecalho:active {
    box-shadow: inset 4px 0px 6px 0px rgba(0, 0, 0, 0.15);
    scale: 0.95;
}

/* Botões da página 2 */

.button__info {
    font-size: 1.2rem;
    font-style: italic;
    /* white-space: nowrap; Não quebra a linha dos botões */
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    align-self: flex-end;
}

#linha-botao {
    height: 3px;
    background:rgb(57, 136, 255, 1);
    position: absolute;
    bottom: 0;
    width: 0;
    transition: 0.5s ;
}

.button__info:hover {
    background: linear-gradient(to right,
        rgb(138, 138, 138, 0.6) 0%,
        rgb(138, 138, 138, 0) 100%
    );
}

#botao-discord {
    align-items: center;
    position: relative;
    border-bottom-left-radius: 0;
    padding-left: 6px;
    border-top-left-radius: 0;
    border-left: 0;
    margin: 15px;
    right: -60px;
    height: fit-content;
    background-color: #5865F2;
}

/* Tables e Listas */

li {
    list-style-position: inside;
}

th,
td {
    border: 1px solid black;
    padding: var(--padding-margin-gap-pequeno);
}

/* Setas de Scroll */

.button__seta {
    width: fit-content;
    align-self: center;
}

.button__seta__normal {
    margin-bottom: 4.5rem;
}

.button__seta__invertida {
    margin-top: 4.5rem;
}

.seta {
    width: 125px;
    height: 100%;
    transition: 0.4s;
    opacity: 0.6;
}

#seta-1 {
    visibility: hidden;
    opacity: 0;
    transition: 0.4s;
}

.seta:hover {
    transform: scale(1.15);
    opacity: 1;
}

.seta__contraria {
    width: 75px;
    height: 100%;
    transition: 0.4s;
    opacity: 0.6;
}

.seta__contraria:hover {
    transform: scale(1.25);
    opacity: 1;
}

/* Switch */

.label__switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

.label__switch input {
    display: none;
}

.span__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ebebeb;
    transition: 0.4s;
    border-radius: 34px;
    box-shadow: inset 0px 0px 6px 2px rgba(0, 0, 0, 0.30);
}

.span__slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 5px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

input:checked + .span__slider {
    background-color: rgb(63, 169, 255);
}

input:checked + .span__slider:before {
    transform: translateX(28px);
}

/* Imagens e SVGs Gerais */

.icones__badges {
    height: 30px;
    width: auto;
}

.imgs__cabecalho {
    height: 30px;
    width: auto;
}

#svg-sol,
#svg-lua {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: 65px;
}

.icone__info {
    height: 30px;
    width: auto;
    opacity: 0;
    transition: 0.4s;
}

.icone__info.mostrar {
    visibility: visible;
    opacity: 0.8;
}

.icon__expand,
.icon__close {
    height: 30px;
    width: auto;
    align-self: flex-end;
    cursor: pointer;
    color: var(--tema-fonte-cabecalho);
}

#img-linkedin,
#img-gmail,
#img-github,
#img-discord {
    height: 38px;
    width: auto;
}