@media /*(min-width: 768px) and */(max-width: 1100px) {

    :root {
        --padding-margin-gap-pequeno: 0.5rem; /* 8px */
        --padding-margin-gap-medio: 1rem; /* 16px */
        --padding-margin-gap-grande: 2rem; /* 48px */
    }

    .paginas {
        padding: 3rem 5rem;
    }

    .container__paragrafo__inicial {
        width: auto;
    }

    .container__conteudo__paragrafos {
        max-width: 58vw;
    }
    
    .container__projetos__links {
        flex-wrap: wrap;
    }

    .card {
        max-width: 45vw;
    }

    .imagens__projeto {
        max-height: 20rem;
    }
}

 @media (max-width: 950px) {
    .container__conteudo__paragrafos {
        max-width: 65vw;
    }
}

/* Tablets */

@media (max-width: 768px) {
    .button__cabecalho {
        display: flex;
        flex-direction: column;
    }

    .button__info {
        white-space: wrap;
    }

    .container__conteudo__paragrafos {
        max-width: 75vw;
    }

    .container__projetos {
        grid-template-columns: 1fr;
    }

    .card {
        max-width: 60vw;
    }
}

@media (max-width: 590px) {
    .paginas {
        padding: 1rem 1rem;
    }

    .balao__info {
        width: 10rem;
    }

    .container__conteudo__paragrafos {
        max-width: 93vw;
    }

    .card {
        max-width: 84vw;
    }
}