:root {

}

body {
    box-sizing: border-box;
    flex-wrap: wrap;
}

* {
    margin: 0;
    padding: 0;
}

.cabecalho {
    display: flex;
    background-color: grey;
    top: 0;
    position: fixed;
    width: 100%;
    padding: 30px;
}

svg {
    height: 5%;
    width: 5%;
}

button {
    background-color: transparent;
}

#pagina-1 {
    height: 100vh;
    background-color: antiquewhite;
}

#pagina-2 {
    height: 100vh;
    background-color: aqua;
}

#pagina-3 {
    height: 100vh;
    background-color: aquamarine;
}

.button-info-selecionado {
    /* Ativado quando selecionado o botão de info */
    background-color: brown;
}