@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --tema-background-cabecalho: #989293;
    --tema-fonte-cabecalho: #242323;
    --tema-background-escuro: linear-gradient(to right bottom, #232222, #494647);
    --tema-fonte-escuro: #E0DADC;
    --tema-background-claro: linear-gradient(to right bottom, #F5F5F5, #D9D9D9);
    --tema-fonte-claro: #3D3B3C;

    --fonte-titulo: "Montserrat", sans-serif;
    --fonte-paragrafo: "Open Sans", sans-serif;
    --fonte-rodape: "Roboto", sans-serif;
    --fonte-badge: "Poppins", sans-serif;

    --padding-margin-gap-pequeno: 0.5rem; /* 8px */
    --padding-margin-gap-medio: 1rem; /* 16px */
    --padding-margin-gap-grande: 2rem; /* 48px */

    --tamanho-fonte-texto: 1rem;
    --tamanho-fonte-subtitulos: 1.2rem
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body.scroll {
    overflow: hidden;
}

/* Cabeçalho */

.cabecalho {
    display: flex;
    box-sizing: border-box;
    background-color: var(--tema-background-cabecalho);
    color: var(--tema-fonte-cabecalho);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100; /* para a seta com transform nao atrapalhar */
    height: auto;
    padding: var(--padding-margin-gap-pequeno);
    justify-content: space-between;
    gap: var(--padding-margin-gap-grande);
}

.container__cabecalho__botoes {
    display: flex;
    gap: var(--padding-margin-gap-medio);
}

.container__cabecalho__switch {
    position: relative;
    display: flex;
    align-items: center;
}

/* Páginas */

.paginas {
    display: flex;
    flex-direction: column;
    min-height: 106vh;
    padding: 4rem 10rem;
    gap: 3rem;
}

#pagina-1, #pagina-2 {
    /* padding-top: 9rem; Para celular*/
    justify-content: space-between;
}

/* ---------- Página 1 -------------*/

.container__inicio {
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    gap: var(--padding-margin-gap-pequeno);
}

.titulos {
    opacity: 0;
    visibility: hidden;
    font-family: var(--fonte-titulo);
    text-align: center;
}

#titulo-1 {
    font-size: 4rem;
}

#titulo-2,
#titulo-3 {
    font-size: 2.5rem;
}

.container__scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--padding-margin-gap-medio);
}

.container__scroll__balao {
    position: relative;
}

.balao__info {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    cursor: default;
    user-select: none;
    left: 15px;
    bottom: 35px;

    background: #DABD90;
    color: var(--tema-fonte-cabecalho);
    font-size: var(--tamanho-fonte-texto);
    font-family: var(--fonte-paragrafo);
    width: 140px;
    padding: var(--padding-margin-gap-pequeno);
    transition: 0.4s;
    border: #655743 2px solid;
    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.2);
}

/* ----------- Página 2 ----------- */

.container__pagina-2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 3rem;
}

.container__conteudo {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    align-items: start;
    gap: var(--padding-margin-gap-medio);
}

.container__conteudo__botoes {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-margin-gap-medio);
    align-self: center;
}

.container__conteudo__paragrafos {
    width: auto; /* mudei aqui, era auto, caso de problema */
    height: auto;
    align-self: center;
    max-width: 70rem;
    padding: var(--padding-margin-gap-grande);
    font-family: var(--fonte-paragrafo);
    font-size: var(--tamanho-fonte-texto);
    border: 1px solid rgb(57, 136, 255, 1);
    box-shadow: 2px 4px 12px 2px rgba(0, 0, 0, 0.4);
}

.paragrafo__button {
    display: flex;
    overflow: hidden;
    overflow-y: visible;
}

/* Parágrafo 1 */

/* #paragrafo-1 {
    gap: var(--padding-margin-gap-grande);
}

#texto-1 {

} */

/* Parágrafo 2 */

#paragrafo-2 {
    flex-direction: column;
    gap: var(--padding-margin-gap-medio);
}

/* Parágrafo 3 */

#paragrafo-3 {
    flex-wrap: wrap;
}

/* .container__certificados {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(57, 136, 255, 1);
    color: var(--tema-fonte-cabecalho);
    background-color: var(--tema-background-cabecalho);
    padding: var(--padding-margin-gap-pequeno);
    gap: var(--padding-margin-gap-pequeno);
} */

.paragrafo__certificados {
    font-size: var(--tamanho-fonte-subtitulos);
    font-weight: bold;
}

/* Parágrafo 4 */

.linha__badges {
    display: flex;
    gap: var(--padding-margin-gap-pequeno);
}

.badges {
    display: flex;
    font-family: var(--fonte-badge);
    color: var(--tema-fonte-cabecalho);
    align-items: center;
    gap: 3px;
    padding: 3px;
    padding-right: 10px;
    border-radius: 30px;
    border: 3px solid rgb(57, 136, 255, 1);
    width: min-content;
    background-color: var(--tema-background-cabecalho);
}

.badge__borderless {
    padding-left: 10px;
}

/* Parágrafo 6 */

#paragrafo-6 {
    display: flex;
    flex-direction: column;
    gap: var(--padding-margin-gap-medio);
}

.container__links {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-margin-gap-pequeno);
    margin-bottom: var(--padding-margin-gap-medio);
}

.botao__sites {
    display: flex;
    align-items: flex-end;
    width: fit-content;
    height: auto;
    font-family: var(--fonte-badge);
    color: var(--tema-fonte-cabecalho);
    background-color: var(--tema-background-cabecalho);
    border: 1px solid rgb(57, 136, 255, 1);
    border-radius: 5px;
    padding: 2px;
    padding-right: 6px;
    font-size: var(--tamanho-fonte-subtitulos);
    font-style: italic;
    gap: 6px;
    text-decoration: none; /* Sublinhado do link */
}

.botao__sites:active {
    box-shadow: inset 0px -4px 12px rgba(0, 0, 0, 0.5);
    scale: 0.95;
}

#botao-gmail {
    padding-left: 6px;
    background-color: #EA4335;
}

.container__discord {
    display: flex;
    align-items: center;
    white-space: nowrap;
}

#foto-discord {
    position: absolute;
    left: -62px;
    height: 60px;
    border: 6px solid #5865F2;
    border-radius: 100%;
    border-right: 12px solid #5865F2;
    width: fit-content;
}

/* ---------- Página 3 -------------*/

#pagina-3 {
    height: auto;
    min-height: 110vh;
}

#titulo-pagina-3 {
    font-size: 2.5rem;
    font-family: var(--fonte-titulo);
    align-self: center;
    margin-bottom: var(--padding-margin-gap-grande);
}

.container__projetos {
    display: grid;
    grid-template-columns: 1fr 1fr; /* fazer função no js para aumentar para 2fr o respectivo projeto */
    justify-items: center;
    gap: var(--padding-margin-gap-grande);
}

.container__projetos__projeto {
    height: fit-content;
    width: fit-content;
    background-color: var(--tema-background-cabecalho);
    border: 1px solid rgb(57, 136, 255, 1);
    font-family: var(--fonte-paragrafo);
    font-size: var(--tamanho-fonte-texto);
    color: var(--tema-fonte-cabecalho);
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.titulo__projetos {
    font-family: var(--fonte-titulo);
    font-size: var(--tamanho-fonte-subtitulos);
}

.container__expandir__projeto {
    display: flex;
    flex-direction: column;
    gap: var(--padding-margin-gap-medio);
    margin: 3%;
    color: var(--tema-fonte-cabecalho);
}

.container__imagens__projeto {
    display: flex;
    flex-wrap: wrap;
    gap: var(--padding-margin-gap-pequeno);
}

.container__projetos__links {
    display: flex;
    gap: var(--padding-margin-gap-medio);
}

.link__projetos {
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid rgb(57, 136, 255, 1);
    padding: 5px;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--padding-margin-gap-medio);
    font-family: var(--fonte-rodape);
    font-size: var(--tamanho-fonte-texto);
    color: var(--tema-fonte-cabecalho);
    background-color: var(--tema-background-cabecalho);
}